.search-header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#hidden {
    display:none;
}

.information {
    display:flex;
    flex-direction: column;
    align-items:center
}